@use "../../index.scss";

.about-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;

  .banner-img {
    filter: brightness(70%);
  }
}

.collapses-ctn {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 82%;
}

@media (max-width: index.$tb-break) {

  .about-ctn,
  .collapses-ctn {
    gap: 29px;
  }
}

@media (max-width: index.$mo-break) {
  .about-ctn {
    gap: 19px;
  }

  .collapses-ctn {
    gap: 19px;
    width: 100%;
  }
}
