footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;

  img {
    padding-top: 66px;
  }
}

.footer-text {
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding: 28px 0;
}
