@use "index.scss";

.home-banner-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 43px;

  .banner-img {
    box-shadow: index.$shadow;
    filter: brightness(40%);
  }
}

.home-banner-text {
  position: absolute;
  color: white;
  font-size: 48px;
  font-weight: 700;
  text-shadow:
    index.$shadow,
    1px 1px 0 black,
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black;
}

.card-gallery {
  background-color: index.$grey-background;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 60px;
  justify-items: center;
  padding: 50px;
}
