.slideshow-ctn {
  height: 415px;
  overflow: hidden;
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  opacity: 0;
  transition: opacity 0.8s ease;

  &.active {
    opacity: 1;
  }
}

.slide-controls {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
}

.slide-arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .previous {
    width: 79px;
    rotate: -90deg;
  }

  .next {
    width: 79px;
    rotate: 90deg;
  }
}

.slide-tracker {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 25px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
