@use "../../index.scss";

.home .banner-img {
  box-shadow: index.$shadow;
  filter: brightness(40%);
}

.card-gallery {
  background-color: index.$grey-background;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  row-gap: 50px;
  column-gap: 60px;
  justify-items: center;
  padding: 50px;
}

@media (max-width: index.$tb-break) {
  .card-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
  }
}

@media (max-width: index.$mo-break) {
  .banner-img {
    box-shadow: none;
  }

  .card-gallery {
    background-color: inherit;
    padding: 0;
  }
}
