@use "../../index.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 100px 0;

  nav a {
    font-weight: 500;
    font-size: 24px;
    margin-left: 57px;
    text-decoration: none;
    color: black;
  }
}

.header-nav-active {
  text-decoration: underline;
}

@media (max-width: index.$tb-break) {
  header {
    margin: 35px 50px 0;

    nav a {
      font-size: 18px;
    }
  }

  .logo-header {
    width: 178px;
  }
}

@media (max-width: index.$mo-break) {
  header {
    margin: 20px 20px 0;

    nav a {
      font-size: 12px;
      margin-left: 26px;
    }
  }

  .logo-header {
    width: 145px;
  }
}
